<a href="https://colab.research.google.com/github/Abbas-Kalantari/interactive-Covid-19-dashboard/blob/master/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Let's import the necessary libraries

In [3]:
import pandas as pd 
import numpy as np 
import glob

In [4]:
files = glob.glob("csse_covid_19_daily_reports/*.csv")

df = pd.DataFrame()
for f in files:
    csv = pd.read_csv(f)
    df = df.append(csv)

In [5]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,...,Combined_Key,Incidence_Rate,Case-Fatality_Ratio,Province/State,Country/Region,Last Update,Latitude,Longitude,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-09-10 04:29:01,33.93911,67.709953,38544.0,1421.0,31048.0,...,Afghanistan,99.012696,3.684101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Albania,2020-09-10 04:29:01,41.15330,20.168300,10704.0,322.0,6284.0,...,Albania,371.950796,3.008221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Algeria,2020-09-10 04:29:01,28.03390,1.659600,47216.0,1581.0,33379.0,...,Algeria,107.673608,3.348441,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Andorra,2020-09-10 04:29:01,42.50630,1.521800,1301.0,53.0,938.0,...,Andorra,1683.815440,4.073789,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Angola,2020-09-10 04:29:01,-11.20270,17.873900,3092.0,126.0,1245.0,...,Angola,9.407822,4.075032,NaN,NaN,NaN,NaN,NaN,NaN,NaN